@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poiret+One&family=Roboto:wght@100&display=swap');

body, html{
    font-family: 'Dancing Script', cursive;
    height: 100%; /*Body covers the full viewing range*/
    width: 100%;
    margin: 0; /*No blank space*/
    padding: 0;
}

#starting-site {
    background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(https://images.unsplash.com/photo-1569868467553-c7f6104431e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=470&q=80) center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background: 
      -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(https://images.unsplash.com/photo-1569868467553-c7f6104431e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=470&q=80) center center;
    height: 100vh;
  }
  
  .header {
      display: flex;
      padding: 20px;
      justify-content: flex-end;
  } 

  button {
      color: white;
      padding: .6rem .5rem;
      border-radius: 5px;
      border: 1px white solid;
      background-color: transparent;
  }

  button:hover {
      background-color: #66c0b3;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width:20rem;
	height:20rem;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
  }
  #title {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
  }

  #sub-title {
    font-size: 1rem;
    color: white;
    text-align: center;

  }

  h1 {
    text-transform: capitalize;
    margin: 0;
    white-space: nowrap;
  }

p {
    font-size: 1.3rem;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0;
    padding-top: 20px;

}

h2:after {
    content: "";
    display: block;
    background-color: #66c0b3;
    height: 3px;
    margin: 20px auto;
    margin-bottom: 50px;
    width: 70px;
}

h3 {
    margin:0;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 1rem;

}

.info {
    width: 100%;
    height: 80%;
    display: block;
    margin: 0px auto 1rem auto;
}

.info-text {
    position: relative;
    bottom: .2rem;
    font-size: .5rem;
    font-weight: normal;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    line-height: .8rem;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.polaroid {
    background-color:white;
    padding:10px 10px 50px 10px;
    border:1px solid #BFBFBF;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 25vw;
    height: 30vh;
    margin-bottom: 4rem;
    transform-origin: top right;
}

.polaroid:hover {
    transition: all ease-in-out 1s;
    transform: rotate(-5deg);
    cursor: pointer;
}

#gallery {
    background-color: #BFBFBF;
}



.pic {
    height: 100%;
    width: 100%;
}

.frame {
    padding: .5rem;
    width: 25vw;
    height: 30vh;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transform-origin: none;
    transition: all 0.2s ease-in-out;
}
.frame:hover {
    transform: rotate(0deg);
    filter: grayscale(0%);
    box-shadow:1px 1px 10px #66c0b39a;
}

.arrow_box {
    margin: 0 13rem 0 13rem;
    position: relative;
    border:1px solid #66c0b3;
    /* border-radius: 2rem; */
    /* border: 4px solid #2e363b; */
    padding: 1.5rem;
}


.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 71%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(46, 54, 59, 0);
	border-top-color: #66c0b3;
	border-width: 11px;
	margin-left: -11px;
}


.Vito {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border: 5px solid #fff;
    box-shadow: 
    inset 1px 1px 4px rgba(0,0,0,0.5),
    0 2px 3px rgba(0,0,0,0.6);
    margin: .5rem auto 1rem auto;
    left: 13%;
    padding: -2rem;
}

.message {
    font-size: 1rem;
    margin: auto;
}

.name {
    font-weight: bolder;
    font-size: 1rem;
    text-align: right;
    margin-top: 1rem;
}

footer {
    background-color: #66c0b3;
    padding: .6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#copy {
    text-align: center;
    font-size: .8rem;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .polaroid {
        width: 50vw;
        height: 25vh;
    }

    .arrow_box {
        margin: 0 5rem 0 5rem;
    }

    .Vito {
        left: 18%;
    }


}

